init_config:
  service: mesh_services_monitoring

instances:
  - name: 10.10.10.10
    hostname: nycmesh.net
    nameserver: 10.10.10.10

  - name: 10.10.10.11
    hostname: nycmesh.net
    nameserver: 10.10.10.11

  - name: 10.70.90.133
    hostname: nycmesh.net
    nameserver: 10.70.90.133

  - name: 10.70.90.132
    hostname: wiki.mesh.nycmesh.net
    nameserver: 10.70.90.132

  - name: 199.167.59.11
    hostname: wiki.mesh.nycmesh.net
    nameserver: 199.167.59.11

  - name: 199.170.132.47
    hostname: wiki.mesh.nycmesh.net
    nameserver: 199.170.132.47

  - name: 23.158.16.23
    hostname: wiki.mesh.nycmesh.net
    nameserver: 23.158.16.23
