init_config:
  service: mesh_services_monitoring

instances:
  - name: GSG Community Room Computers Kiosk 1
    host: 10.70.188.13
    port: 22
    service: GSG

  - name: GSG Community Room Computers Kiosk 2
    host: 10.70.188.14
    port: 22
    service: GSG

  - name: GSG Community Room Computers Windows Print Server
    host: 10.70.188.12
    port: 3389
    service: GSG
